@model APSIM.PerformanceTests.Portal.ViewModel.PullRequestViewModel

@{
    ViewBag.Title = "Home Page";
}


@section css {
    <link href="@Url.Content("~/Content/StyleSheet1.css")" rel="stylesheet" />*
}
<br /><br />

<style type="text/css">
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">
    $(function(){
        //find the web Grid
        $('tbody tr').hover( function(){
            $(this).toggleClass('hovercs');  //hover change highlight style
        }).on('click', function () {
            $('tbody tr').not($(this)).removeClass('clickable');  //remove other row click highlight style
            $(this).addClass('clickable');  // add style to current row
            //var prID = $(this).parent('tr td:first-child').val();
            var gID = $(this).closest('table').attr('id')
            if (gID == 'tablePullRequests') {
                var prID = $(this).find('td:first').text();
                window.location.href = '@Url.Action("Index", "Home")?pullRequestId=' + prID;
            }
        });
    });
</script>   
<p>Select a Pull Requests</p>
<div id="Grid1">
    @{
        var grid = new WebGrid(Model.PullRequestDetails, rowsPerPage: 10, canPage: true, canSort: false);
    }
    @grid.GetHtml(tableStyle: "table",
        fillEmptyRows: false,
        htmlAttributes: new { id = "tablePullRequests" },
        //show empty row when there is only one record on page to it will display all empty rows there.
        headerStyle: "grid-header", //applying style.
        footerStyle: "grid-footer", //applying style.

        columns: grid.Columns(
            grid.Column("PullRequestId", header: "Pull Request Id", style: "colwidth-med colbold",
                format: @<text>@Html.ActionLink((string)item.strId, "Index", "Home", new { pullRequestId = item.pullRequestId }, null)</text>),
            grid.Column("RunDate", header: "Run Date", style: "colwidth-xlg",
                 format: @<text>@item.RunDate.ToString("dd/MM/yyyy HH:mm  ")</text>),
            grid.Column("IsReleased", header: "Is Released", style: "colwidth-med")
        )
    )
</div>

<br />

@if (Model.ApsimFiles != null)
{
    <div id="grid2">
        @{
            var grid2 = new WebGrid(Model.ApsimFiles, canPage: false);
        }
        @grid2.GetHtml(tableStyle: "table",
            htmlAttributes: new { id = "tableDetails" },
            columns: grid.Columns(
                grid2.Column("PullRequestId", header: "Pull Request Id", style: "colwidth-med colbold"),
                grid2.Column("FileName", header: "FileName", style: "colwidth-med"),
                grid2.Column("FullFileName", header: "Full FileName", style: "colwidth-xxlg"),
                grid2.Column("RunDate", header: "Run Date", style: "colwidth-xlg",
                    format: @<text>@item.RunDate.ToString("dd/MM/yyyy HH:mm  ")</text>),
                grid2.Column("IsReleased", header: "Is Released", style: "colwidth-med")
            )
        )
    </div>
}




