@model APSIM.PerformanceTests.Portal.ModelViews.TestsIndex
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>Details of Tests for @Model.PO_TableName - (Id) @Model.PO_Id</h3>

    <div id="dvShowSimFiles">
        <img src="@Url.Action("CreateChart", new { predictedObservedId = @Model.PO_Id })" />
    </div>

    <div id="dvTestsGrid">
        @Html.Partial("ShowGrid", Model)
    </div>

</body>
</html>
